<a href="https://colab.research.google.com/github/smabb/p/blob/master/Lesson2_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<!--NAVIGATION-->


<a href="https://colab.research.google.com/github/smabb/p/blob/master/Lesson2_basics.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

|                                          -                                          |                                          -                                          |                                          -                                          |
|-------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------|
|             [Exercise 1 (hello world)](<#Exercise-1-(hello-world&#41;>)             |              [Exercise 2 (compliment)](<#Exercise-2-(compliment&#41;>)              |          [Exercise 3 (multiplication)](<#Exercise-3-(multiplication&#41;>)          |
|    [Exercise 4 (multiplication table)](<#Exercise-4-(multiplication-table&#41;>)    |                [Exercise 5 (two dice)](<#Exercise-5-(two-dice&#41;>)                |           [Exercise 6 (triple square)](<#Exercise-6-(triple-square&#41;>)           |
|         [Exercise 7 (areas of shapes)](<#Exercise-7-(areas-of-shapes&#41;>)         |         [Exercise 8 (solve quadratic)](<#Exercise-8-(solve-quadratic&#41;>)         |                   [Exercise 9 (merge)](<#Exercise-9-(merge&#41;>)                   |
|          [Exercise 10 (detect ranges)](<#Exercise-10-(detect-ranges&#41;>)          |             [Exercise 11 (interleave)](<#Exercise-11-(interleave&#41;>)             |    [Exercise 12 (distinct characters)](<#Exercise-12-(distinct-characters&#41;>)    |
|     [Exercise 13 (reverse dictionary)](<#Exercise-13-(reverse-dictionary&#41;>)     |          [Exercise 14 (find matching)](<#Exercise-14-(find-matching&#41;>)          | [Exercise 15 (two dice comprehension)](<#Exercise-15-(two-dice-comprehension&#41;>)                   |
|          [Exercise 16 (acronyms)](<#Exercise-16-(acronyms&#41;>)           |             [Exercise 17 (sum equation)](<#Exercise-17-(sum-equation&#41;>)           |              [Exercise 18 (usemodule)](<#Exercise-18-(usemodule&#41;>)                   |
| [Exercise 19 (integers in brackets)](<#Exercise-19-(integers-in-brackets&#41;>) |         [Exercise 20 (file listing)](<#Exercise-20-(file-listing&#41;>)         |       [Exercise 21 (red green blue)](<#Exercise-21-(red-green-blue&#41;>)       |
|     [Exercise 22 (word frequencies)](<#Exercise-22-(word-frequencies&#41;>)     |           [Exercise 23 (file count)](<#Exercise-24-(file-count&#41;>)           |           [Exercise 24 (file extensions)](<#Exercise-25-(file-extensions&#41;>)

# Python

## Basic concepts

### Basic input and output

The traditional "Hello, world" program is very simple in Python. You can run the program by selecting the cell by mouse and pressing control-enter on keyboard. Try editing the string in the quotes and rerunning the program.

In [1]:
print("Hello World!")

Hello World!

Multiple strings can be printed. By default, they are concatenated with a space:

In [0]:
print("Hello,", "How are you?")

Hello, How are you?

In the print function, numerical expression are first evaluated and then automatically converted to strings. Subsequently the strings are concatenated with spaces:

In [0]:
print(1, "plus", 2, "equals", 1+2)

1 plus 2 equals 3

Reading textual input from the user can be achieved with the input function. The input function is given a string parameter, which is printed and prompts the user to give input. In the example below, the string entered by the user is stored the variable `name`. Try executing the program in the interactive notebook by pressing control-enter!

In [2]:
name=input("Give me your name: ")
print("Hello,", name)

Give me your name: Samir
Hello, Samir

### Indentation

Repetition is possible with the for loop. Note that the body of for loop is indented with a tabulator or four spaces.
Unlike in some other languages, braces are not needed to denote the body of the loop. When the indentation stops, the body of the loop ends.

In [3]:
for i in range(3):
    print("Hello", i)
print("Bye!")

Hello 0
Hello 1
Hello 2
Bye!

Indentation applies to other compound statements as well, such as bodies of functions, different branches of an if statement, and while loops. We shall see examples of these later.

The `range(3)` expression above actually results with the sequence of integers 0, 1, and 2. So, the range is a half-open interval with the end point excluded from the range. In general, expression range(n) gives integers 0, 1, 2, ..., n-1. Modify the above program to make it also print the value of variable i at each iteration. Rerun the code with control-enter.

#### <div class="alert alert-info">Exercise 1 (hello world)</div>
Fill in the missing piece to make it print the following:

`Hello, world!`

Make sure you use correct indenting. 
<hr/>

In [0]:
#Write code Here

#### <div class="alert alert-info">Exercise 2 </div>
Write a program that work as follows. The program should ask the user for an input, and the print an answer as the examples below show.

```
What country are you from? Palestine
I have heard that Palestine is a beautiful country.

What country are you from? Jordan  
I have heard that Jordan is a beautiful country.
```
<hr/>

In [0]:
#Write code Here

#### <div class="alert alert-info">Exercise 3 (multiplication)</div> 
Write a program that gives the following output. You should use a for loop in your solution.

```
4 multiplied by 0 is 0
4 multiplied by 1 is 4
4 multiplied by 2 is 8
4 multiplied by 3 is 12
4 multiplied by 4 is 16
4 multiplied by 5 is 20
4 multiplied by 6 is 24
4 multiplied by 7 is 28
4 multiplied by 8 is 32
4 multiplied by 9 is 36
4 multiplied by 10 is 40
```
<hr/>

In [0]:
#Write code Here

### Variables and data types

We saw already earlier that assigning a value to variable is very simple:

In [0]:
a=1
print(a)

1

Note that we did not need to introduce the variable `a` in any way. No type was given for the variable. Python automatically detected that the type of `a` must be `int` (an integer). We can query the type of a variable with the builtin function `type`:

In [0]:
type(a)

int

Note also that the type of a variable is not fixed:

In [0]:
a="some text"
type(a)

str

In Python the type of a variable is not attached to the name of the variable, like in C for instance, but instead with the actual value. This is called dynamic typing.

We say that a variable is a name that *refers* to a value or an object, and the assignment operator *binds* a variable name to a value.

The basic data types in Python are: `int`, `float`, `complex`, `str` (a string), `bool` (a boolean with values `True` and `False`), and `bytes`. Below are few examples of their use.

In [4]:
i=5
f=1.5
b = i==4
print("Result of the comparison:", b)
c=0+2j                                 # Note that j denotes the imaginary unit of complex numbers.
print("Complex multiplication:", c*c)
s="conca" + "tenation"
print(s)

Result of the comparison: False
Complex multiplication: (-4+0j)
concatenation

The names of the types act as conversion operators between types:

In [0]:
print(int(-2.8))
print(float(2))
print(int("123"))
print(bool(-2), bool(0))  # Zero is interpreted as False
print(str(234))

-2
2.0
123
True False
234

#### Creating strings
A string is a sequence of characters commonly used to store input or output data in a program. The characters of a string are specified either between single (`'`) or double (`"`) quotes. This optionality is useful if, for example, a string needs to contain a quotation mark:
"I don't want to go!". You can also achieve this by *escaping* the quotation mark with the backslash: 'I don\\'t want to go'.

The string can also contain other escape sequences like `\n` for newline and `\t` for a tabulator. See [literals](https://docs.python.org/3/reference/lexical_analysis.html#literals) for a list of all escape sequences.

In [0]:
print("One\tTwo\nThree\tFour")

One	Two
Three	Four

A string containing newlines can be easily given within triple double or triple single quotes:

In [0]:
s="""A string
spanning over
several lines"""

Although we can concatenate strings using the `+` operator, for effiency reasons, one should use the `join` method to concatenate larger number of strings:

In [0]:
a="first"
b="second"
print(a+b)
print(" ".join([a, b, b, a]))   # More about the join method later

firstsecond
first second second first

Sometimes printing by concatenation from pieces can be clumsy:

In [7]:
print(1 + " plus " + 3 + " is equal to " + 4)
# slightly better
print(1, "plus", 3, "is equal to", 4)

1 plus 3 is equal to 4
1 plus 3 is equal to 4

The multiple catenation and quotation characters break the flow of thought. *String interpolation* offers somewhat easier syntax.

There are multiple ways to do sting interpolation:

* Python format strings
* the `format` method
* f-strings

Examples of these can be seen below:

In [8]:
print("%i plus %i is equal to %i" % (1, 3, 4))     # Format syntax

print("{} plus {} is equal to {}".format(1, 3, 4)) # Format method

print(f"{1} plus {3} is equal to {4}")             # f-string

1 plus 3 is equal to 4
1 plus 3 is equal to 4
1 plus 3 is equal to 4

The `i` format specifier in the format syntacs corresponds to integers and the specifier `f` corresponds to floats. When using f-strings or the `format` method, integers use `d` instead. In format strings specifiers can usually be omitted and are generally used only when specific formatting is required. For example in f-strings `f"{4:3d}"` would specify the number 4 left padded with spaces to 3 digits.

It is often useful to specify the number of decimals when printing floats:

In [0]:
print("%.1f %.2f %.3f" % (1.6, 1.7, 1.8))               # Old style
print("{:.1f} {:.2f} {:.3f}".format(1.6, 1.7, 1.8))     # newer style
print(f"{1.6:.1f} {1.7:.2f} {1.8:.3f}")                 # f-string

1.6 1.70 1.800
1.6 1.70 1.800
1.6 1.70 1.800

The specifier `s` is used for strings. An example:

In [0]:
print("%s concatenated with %s produces %s" % ("water", "melon", "water"+"melon"))
print("{0} concatenated with {1} produces {0}{1}".format("water", "melon"))
print(f"{'water'} concatenated with {'melon'} produces {'water' + 'melon'}")

water concatenated with melon produces watermelon
water concatenated with melon produces watermelon
water concatenated with melon produces watermelon

Look [here](https://pyformat.info/#number) for more details about format specifiers, and for comparison between the old and new style of string interpolation.

Different ways of string interpolation have different strengths and weaknesses. Generally choosing which to use is a matter of personal preference. On this course examples and model solutions will predominantly use f-strings and the `format` method.

### Expressions
An *expression* is a piece of Python code that results in a value. It consists of values combined together with *operators*. Values can be literals, such as `1`, `1.2`, `"text"`, or variables. Operators include arithmetics operators, comparison operators, function call, indexing, attribute references, among others. Below there are a few examples of expressions:

```
1+2
7/(2+0.1)
a
cos(0)
mylist[1]
c > 0 and c !=1
(1,2,3)
a<5
obj.attr
(-1)**2 == 1
```

<div class="alert alert-warning">Note that in Python the operator `//` performs integer division and operator `/` performs float division. The `**` operator denotes exponentiation. These operators might therefore behave differently than in many other common languages.</div>

### Statements
Statements are commands that have some effect. For example, a function call (that is not part of another expression) is a statement. Also, the variable assignment is a statement:

In [0]:
i = 5
i = i+1    # This is a commong idiom to increment the value of i by one
i += 1     # This is a short-hand for the above

Note that in Python there are no operators `++` or `--` unlike in some other languages.

It turns out that the operators `+ - * / // % & | ^ >> << **` have the corresponding *augmented assignment operators* `+= -= *= /= //= %= &= |= ^= >>= <<= **=`

Another large set of statements is the flow-control statements such as if-else, for and while loops. We will look into these in the next sections.

#### Loops for repetitive tasks
In Python we have two kinds of loops: `while` and `for`. We briefly saw the `for` loop earlier. Let's now look at the `while` loop. A `while` loop repeats a set of statements while a given condition holds. An example:

In [0]:
i=1
while i*i < 1000:
    print("Square of", i, "is", i*i)
    i += 1
print("Finished printing all the squares below 1000.")

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100
Square of 11 is 121
Square of 12 is 144
Square of 13 is 169
Square of 14 is 196
Square of 15 is 225
Square of 16 is 256
Square of 17 is 289
Square of 18 is 324
Square of 19 is 361
Square of 20 is 400
Square of 21 is 441
Square of 22 is 484
Square of 23 is 529
Square of 24 is 576
Square of 25 is 625
Square of 26 is 676
Square of 27 is 729
Square of 28 is 784
Square of 29 is 841
Square of 30 is 900
Square of 31 is 961
Finished printing all the squares below 1000.

Note again that the body of the while statement was marked with the indentation.

Another way of repeating statements is with the `for` statement. An example

In [0]:
s=0
for i in [0,1,2,3,4,5,6,7,8,9]:
    s += i
print("The sum is", s)

The sum is 45

The `for` loop executes the statements in the block as many times as there are elements in the given list. At each iteration the variable `i` refers to another value from the list in order. Instead of the giving the list explicitly as above, we could have used the *generator* `range(10)` which returns values from the sequence 0,1,...,9 as the for loop asks for a new value. In the most general form the `for` loop goes through all the elements in an *iterable*.
Besides lists and generators there are other iterables. We will talk about iterables and generators later this week.

When one wants to iterate through all the elements in an iterable, then the `for` loop is a natural choice. But sometimes `while` loops offer cleaner solution. For instance, if we want
to go through all Fibonacci numbers up till a given limit, then it is easier to do with a `while` loop.

#### <div class="alert alert-info">Exercise 4 (multiplication table)</div>

Write a code to print a multiplication table shown below:
```
   1   2   3   4   5   6   7   8   9  10
   2   4   6   8  10  12  14  16  18  20
   3   6   9  12  15  18  21  24  27  30
   4   8  12  16  20  24  28  32  36  40
   5  10  15  20  25  30  35  40  45  50
   6  12  18  24  30  36  42  48  54  60
   7  14  21  28  35  42  49  56  63  70
   8  16  24  32  40  48  56  64  72  80
   9  18  27  36  45  54  63  72  81  90
  10  20  30  40  50  60  70  80  90 100
```
For example at row 4 and column 9 we have 4*9=36.

Use two nested for loops to achive this. Note that you can use the following form to stop the `print` function from automatically starting a new line:

In [12]:
print("text", end="")
print("more text")

textmore text

Print the numbers in a field with width four, so that the numbers are nicely aligned. For instructions on how adjust the field width refer to [pyformat.info](https://pyformat.info/#number_padding).
<hr/>

In [57]:
#Write code Here
for i in range(1,11):
    print('\n')
    for x in range(1,11):
      print('{:4d}'.format(i*x),end='')

   1   2   3   4   5   6   7   8   9  10

   2   4   6   8  10  12  14  16  18  20

   3   6   9  12  15  18  21  24  27  30

   4   8  12  16  20  24  28  32  36  40

   5  10  15  20  25  30  35  40  45  50

   6  12  18  24  30  36  42  48  54  60

   7  14  21  28  35  42  49  56  63  70

   8  16  24  32  40  48  56  64  72  80

   9  18  27  36  45  54  63  72  81  90

  10  20  30  40  50  60  70  80  90 100

#### Decision making with the if statement
The if-else statement works as can be expected.
Try running the below cell by pressing control+enter.

In [58]:
x=input("Give an integer: ")
x=int(x)
if x >= 0:
    a=x
else:
    a=-x
print("The absolute value of %i is %i" % (x, a))

Give an integer: 3
The absolute value of 3 is 3

The general from of an if-else statement is

```
if condition1:
    statement1_1
    statement1_2
    ...
elif condition2:
    statement2_1
    statement2_2
    ...
...
else:
    statementn_1
    statementn_2
    ...
```

Another example:

In [0]:
c=input("Give a number: ")
if c > 0:
    print("c is positive")
elif c<0:
    print("c is negative")
else:
    print("c is zero")

Give a number: 1
c is positive

#### Breaking and continuing loop
Breaking the loop, when the wanted element is found, with the `break` statement:

In [0]:
l=[1,3,65,3,-1,56,-10]
for x in l:
    if x < 0:
        break
print("The first negative list element was", x)

The first negative list element was -1

Stopping current iteration and continuing to the next one with the `continue` statement:

In [70]:
l=[1,3,65,3,-1,56,-10]
for x in l:
    if x < 0:
        continue
    print(f"The power of {x} by 2 is {x**2}")

The power of 1 by 2 is 1
The power of 3 by 2 is 9
The power of 65 by 2 is 4225
The power of 3 by 2 is 9
The power of 56 by 2 is 3136

#### <div class="alert alert-info">Exercise 5 (two dice)</div>

Consider throwing two dice(value between 1 and 6.) Use two nested `for`
loops  iterate through all possible combinations the pair of dice can give. 
Print all those combinations as (ordered) pairs that sum to 5. 
For example, your printout should include the pair `(2,3)`. Print one pair per line.
<hr/>

In [74]:
#Write code Here
for i in range(1,7):
  for x in range(1,7):
    if i + x == 5:
      print(f'({i},{x})')

(1,4)
(2,3)
(3,2)
(4,1)

### Functions
A function is defined with the `def` statement. Let's do a doubling function.

In [0]:
def double(x):
    "This function multiplies its argument by two."
    return x*2
print(double(4), double(1.2), double("abc")) # It even happens to work for strings!

8 2.4 abcabc

The double function takes only one parameter. Notice the *docstring* on the second line. It documents the purpose and usage of the function. Let's try to access it.

In [0]:
help(double)

Help on function double in module __main__:

double(x)
    This function multiplies its argument by two.

Most of Python's builtin functions, classes, and modules should contain a docstring.

In [0]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Here's another example function:

In [0]:
def sum_of_squares(a, b):
    "Computes the sum of arguments squared"
    return a**2 + b**2
print(sum_of_squares(3, 4))

25

<div class="alert alert-warning">Note the terminology: in the function definition the names a and b are called <strong>parameters</strong> of the function; in the function call, however, 3 and 4 are called <strong>arguments</strong> to the function.
</div>

It would be nice that the number of arguments could be arbitrary, not just two. We could pass a list to the function as a parameter.

In [0]:
def sum_of_squares(lst):
    "Computes the sum of squares of elements in the list given as parameter"
    s=0
    for x in lst:
        s += x**2
    return s
print(sum_of_squares([-2]))
print(sum_of_squares([-2,4,5]))

4
45

Another way:

In [0]:
def sum_of_squares(*t):
    "Computes the sum of squares of arbitrary number of arguments"
    s=0
    for x in t:
        s += x**2
    return s
print(sum_of_squares(-2))
print(sum_of_squares(-2,4,5))

4
45

The strange looking argument notation (the star) is called *argument packing*. It packs all the given positional arguments into a tuple `t`. We will encounter tuples again later, but it suffices now to say that tuples are *immutable* lists. With the `for` loop we can iterate through all the elements in the tuple.

In addition to positional arguments we have seen so far, a function call can also have *named arguments*. An example will explain this concept best:

In [0]:
def named(a, b, c):
    print("First:", a, "Second:", b, "Third:", c)
named(5, c=7, b=8)

First: 5 Second: 8 Third: 7

Note that the named arguments didn't need to be in the same order as in the function definition.
The named arguments must come after the positional arguments. For example, the following function call is illegal `named(a=5, 7, 8)`.

One can also specify an optional parameter by giving the parameter a default value. The parameters that have default values must come after those parameters that don't. We saw that the parameters of the `print` function were of form `print(value, ..., sep=' ', end='\n')`. If some default values don't suit us, we can give them in the function call using the name of the parameter:

In [0]:
print(1, 2, 3, end=' |', sep=' -*- ')
print("first", "second", "third", end=' |', sep=' -*- ')

1 -*- 2 -*- 3 |first -*- second -*- third |

Let's go through another example of using parameters with default values:

In [0]:
def sum_of_squares(a=2, b=4):
    "Computes the sum of arguments squared"
    return a**2 + b**2
print(sum_of_squares())

20

#### Visibility of variables
Function definition creates a new *namespace* (also called local scope). Variables created inside this scope are not available from outside the function definition. Also, the function parameters are only visible inside the function definition. Variables that are not defined inside any function are called `global variables`.

Global variable are readable also in local scopes, but an assignment creates a new local variable without rebinding the global variable. If we are inside a function, a local variable hides a global variable by the same name:

In [0]:
i=2           # global variable
def f():
    i=3       # this creates a new variable, it does not rebind the global i
    print(i)  # This will print 3    
f()
print(i)      # This will print 2

3
2

If you really need to rebind a global variable from a function, use the `global` statement. Example:

In [0]:
i=2
def f():
    global i
    i=5       # rebind the global i variable
    print(i)  # This will print 5
f()
print(i)      # This will print 5

5
5

#### <div class="alert alert-info">Exercise 6 (triple square)</div>

Write two functions: `triple` and `square`. Function `triple` multiplies its parameter by three. Function `square` raises its parameter to the power of two. For example, we have equalities `triple(5)==15`
and `square(5)==25`.

Part 1.

Write a `for` loop that iterates through values 1 to 10, and for each value prints its triple and its square. The output should be as follows:
```
triple(1)==3 square(1)==1
triple(2)==6 square(2)==4
...
```

Part 2.

Now modify this `for` loop so that it stops iteration when the square of a value is larger than the
triple of the value, without printing anything in the last iteration.

<hr/>

In [0]:
#Write Code Here

#### <div class="alert alert-info">Exercise 7 (areas of shapes)</div>

Create a program that can compute the areas of three shapes, triangles, rectangles and circles, when
their dimensions are given.

An endless loop should ask for which shape you want the area be calculated. An empty string as input will exit the loop. 
If the user gives a
string that is none of the given shapes, the message “unknown shape!” should be printed.
Then it will ask for dimensions for that particular shape. When all the necessary dimensions are
given, it prints the area, and starts the loop all over again. Use format specifier `f` for the area.

What happens if you give incorrect dimensions, like giving string "aa" as radius? You  have to check for errors in the input.

Example interaction:
```
Choose a shape (triangle, rectangle, circle): triangle
Give base of the triangle: 20
Give height of the triangle: 5
The area is 50.000000
Choose a shape (triangle, rectangle, circle): rectangel
Unknown shape!
Choose a shape (triangle, rectangle, circle): rectangle
Give width of the rectangle: 20
Give height of the rectangle: 4
The area is 80.000000
Choose a shape (triangle, rectangle, circle): circle
Give radius of the circle: 10
The area is 314.159265
Choose a shape (triangle, rectangle, circle): 
```
<hr/>

### Data structures
The main data structures in Python are strings, lists, tuples, dictionaries, and sets. We saw some examples of lists, when we discussed `for` loops. And we saw briefly tuples when we introduced argument packing and unpacking. Let's get into more details now.

#### Sequences
A *list* contains arbitrary number of elements (even zero) that are stored in sequential order. The elements are separated by commas and written between brackets. The elements don't need to be of the same type. An example of a list with four values:

In [0]:
[2, 100, "hello", 1.0]

[2, 100, 'hello', 1.0]

A *tuple* is fixed length, immutable, and ordered container. Elements of tuple are separated by commas and written between parentheses. Examples of tuples:

In [0]:
(3,)               # a singleton
(1,3)              # a pair
(1, "hello", 1.0); # a triple

<div class="alert alert-warning">Note the difference between `(3)` and `(3,)`. Because the parentheses can also be used to group expressions, the first one defines an integer, but the second one defines a tuple with single element.</div>

As we can see, both lists and tuples can contain values of different type.

List, tuples, and strings are called *sequences* in Python, and they have several commonalities:

* their length can be queried with the `len` function
* `min` and `max` function find the minimum and maximum element of a sequence, and `sum` adds all the elements of numbers together
* Sequences can be concatenated with the `+` operator, and repeated with the `*` operator: `"hi"*3=="hihihi"`
* Since sequences are ordered, we can refer to the elements of a sequences by integers using the *indexing* notation: `"abcd"[2] == "c"`
* Note that the indexing begins from 0
* Negative integers start indexing from the end: -1 refers to the last element, -2 refers to the second last, and so on

Above we saw that we can access a single element of a sequence using *indexing*. If we want a subsequence of a sequence, we can use the *slicing* syntax. A slice consists of elements of the original sequence, and it is itself a sequence as well. A simple slice is a range of elements:

In [0]:
s="abcdefg"
s[1:4]

'bcd'

Note that Python ranges exclude the last index. The generic form of a slice is
`sequence[first:last:step]`. If any of the three parameters are left out, they are set to default values as follows: first=0, last=len(L), step=1. So, for instance "abcde"[1:]=="bcde". The step parameter selects elements that are step distance apart from each other. For example:

In [0]:
print([0,1,2,3,4,5,6,7,8,9][::3])

[0, 3, 6, 9]

#### <div class="alert alert-info">Exercise 8 (solve quadratic)</div>

In mathematics, the quadratic equation $ax^2+bx+c=0$ can be solved with the formula 
$x=\frac{-b\pm \sqrt{b^2 -4ac}}{2a}$. 

Write a function `solve_quadratic`, that returns both solutions of a generic quadratic as a pair (2-tuple)
when the coefficients are given as parameters. It should work like this:
```python
print(solve_quadratic(1,-3,2))
(2.0,1.0)
print(solve_quadratic(1,2,1))
(-1.0,-1.0)
```

Use the `math.sqrt` function from the `math` module in your solution. 
<hr/>

In [0]:
#Write code here
# usage math.sqrt(x)
import math

#### Modifying lists
We can assign values to elements of a list by indexing or by slicing. An example:

In [0]:
L=[11,13,22,32]
L[2]=10          # Changes the third element
print(L)

[11, 13, 10, 32]

Or we can assign a list to a slice:

In [0]:
L[1:3]=[4]
print(L)

[11, 4, 32]

We can also modify a list by using *mutating methods* of the `list` class, namely the methods `append`, `extend`, `insert`, `remove`, `pop`, `reverse`, and `sort`. Try Python's help functionality to find more about these methods: e.g. `help(list.extend)` or `help(list)`.

<div class="alert alert-warning">Note that we cannot perform these modifications on tuples or strings since they are *immutable*</div>

#### Generating numerical sequences
Trivial lists can be tedious to write: `[0,1,2,3,4,5,6]`. The function `range` creates numeric ranges automatically. The above sequence can be generated with the function call `range(7)`. Note again that then end value is not included  in the sequence. An example of using the `range` function:

In [0]:
L=range(3)
for i in L:
    print(i)
# Note that L is not a list!
print(L)

0
1
2
range(0, 3)

So `L` is not a list, but it is a sequence. We can for instace access its last element with `L[-1]`. If really needed, then it can be converted to a list with the `list` constructor:

In [0]:
L=range(10)
print(list(L))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

<div class="alert alert-warning">Note that using a range consumes less memory than the corresponding list. This is because in a list all the elements are stored in the memory, whereas the range generates the requested elements only when needed. For example, when the for loop asks for the next element from the range at each iteration, only a single element from the range exists in memory at the same time. This makes a big difference when using large ranges, like range(1000000).</div>

The `range` function works in similar fashion as slices. So, for instance the step of the sequence can be given:

In [0]:
print(list(range(0, 7, 2)))

[0, 2, 4, 6]

#### Sorting sequences

In Python there are two ways to sort sequences. The `sort` *method* modifies the original list, whereas the `sorted` *function* returns a new sorted list and leaves the original intact. A couple of examples will demonstrate this:

In [0]:
L=[5,3,7,1]
L.sort()      # here we call the sort method of the object L
print(L)
L2=[6,1,7,3,6]
print(sorted(L2))
print(L2)

[1, 3, 5, 7]
[1, 3, 6, 6, 7]
[6, 1, 7, 3, 6]

The parameter `reverse=True` can be given (both to `sort` and `sorted`) to get descending order of elements:

In [0]:
L=[5,3,7,1]
print(sorted(L, reverse=True))

[7, 5, 3, 1]

#### <div class="alert alert-info">Exercise 9 (merge)</div>

Suppose we have two lists `L1` and `L2` that contain integers which are sorted in ascending order.
Create a function `merge` that gets these lists as parameters and returns a new sorted list `L` that has
all the elements of `L1` and `L2`. So, `len(L)` should equal to `len(L1)+len(L2)`. Do this using the
fact that both lists are already sorted. 
<hr/>

In [0]:
L1 = [1,5,9,12]
L2 = [2,6,10]

#Write Code here


print(merge(L1, L2))

[1, 2, 5, 6, 9, 10, 12]

#### <div class="alert alert-info">Exercise 10 (detect ranges)</div>

Create a function named `detect_ranges` that gets a list of integers as a parameter. The function
should then sort this list, and transform the list into another list where pairs are used for all the
detected intervals. So `3,4,5,6` is replaced by the pair `(3,7)`. Numbers that are not part of any
interval result just single numbers. The resulting list consists of these numbers and
pairs, separated by commas.
An example of how this function works:
```python
print(detect_ranges([2,5,4,8,12,6,7,10,13]))
[2,(4,9),10,(12,14)]
```

Note that the second element of the pair does not belong to the range. This is consistent with the way Python's `range` function works. You may assume that no element in the input list appears multiple times.
<hr/>

#### Zipping sequences

The `zip` function combines two (or more) sequences into one sequence. If, for example, two sequences are zipped together, the resulting sequence contains pairs. In general, if `n` sequences are zipped together, the elements of the resulting sequence contains `n`-tuples. An example of this:

In [0]:
L1=[1,2,3]
L2=["first", "second", "third"]
print(zip(L1, L2))               # Note that zip does not return a list, like range
print(list(zip(L1, L2)))         # Convert to a list

<zip object at 0x7fb8141907c8>
[(1, 'first'), (2, 'second'), (3, 'third')]

Here's another example of using the `zip` function.

In [0]:
days="Monday Tuesday Wednesday Thursday Friday Saturday Sunday".split()
weathers="rainy rainy sunny cloudy rainy sunny sunny".split()
temperatures=[10,12,12,9,9,11,11]
for day, weather, temperature in zip(days,weathers,temperatures):
    print(f"On {day} it was {weather} and the temperature was {temperature} degrees celsius.")

# Or equivalently:
#for t in zip(days,weathers,temperatures):
#    print("On {} it was {} and the temperature was {} degrees celsius.".format(*t))

On Monday it was rainy and the temperature was 10 degrees celsius.
On Tuesday it was rainy and the temperature was 12 degrees celsius.
On Wednesday it was sunny and the temperature was 12 degrees celsius.
On Thursday it was cloudy and the temperature was 9 degrees celsius.
On Friday it was rainy and the temperature was 9 degrees celsius.
On Saturday it was sunny and the temperature was 11 degrees celsius.
On Sunday it was sunny and the temperature was 11 degrees celsius.

If the sequences are not of equal length, then the resulting sequence will be as long as the shortest input sequence is.

#### <div class="alert alert-info">Exercise 11 (interleave)</div>

Write function `interleave` that gets arbitrary number of lists as parameters. You may assume that all the lists have equal length. The function should return one list containing all the elements from the input lists interleaved.
Test your function from the `main` function of the program.

Example:
`interleave([1,2,3], [20,30,40], ['a', 'b', 'c'])`
should return
`[1, 20, 'a', 2, 30, 'b', 3, 40, 'c']`.
Use the `zip` function to implement `interleave`. Remember the `extend` method of list objects.
<hr/>

#### Enumerating sequences

In some other programming languages one iterates through the elements using their indices (0,1, ...) in the sequence. In Python we normally don't need to think about indices when iterating, because the `for` loop allows simpler iteration through the elements. But sometimes you really need to know the index of the current element in the sequence. In this case one uses Python's `enumerate` function. In the next example we would like find the second occurrence of integer 5 in a list.

In [0]:
L=[1,2,98,5,-1,2,0,5,10]
counter = 0
for  i,x in enumerate(L):
    if x == 5:
        counter += 1
        if counter == 2:
            break
print(i)

7

#### Dictionaries
A *dictionary* is a dynamic, unordered container. Instead of using integers to access the elements of the container, the dictionary uses *keys* to access the stored *values*. The dictionary can be created by listing the comma separated key-value pairs in braces. Keys and values are separated by a colon. A tuple (key,value) is called an *item* of the dictionary.

Let's demonstrate the dictionary creation and usage:

In [0]:
d={"key1":"value1", "key2":"value2"}
print(d["key1"])
print(d["key2"])

value1
value2

Keys can have different types even in the same container. So the following code is legal:
`d={1:"a", "z":1}`. The only restriction is that the keys must be *hashable*. That is, there has to be a mapping from keys to integers. Lists are *not* hashable, but tuples are!

There are alternative syntaxes for dictionary creation:

In [0]:
dict([("key1", "value1"), ("key2", "value2"), ("key3", "value3")]) # list of items
dict(key1="value1", key2="value2", key3="value3");

If a key is not found in a dictionary, the indexing `d[key]` results in an error (*exception* `KeyError`). But an assignment with a non-existing key causes the key to be added in the dictionary associated with the corresponding value:

In [0]:
d={}
d[2]="value"
print(d)

{2: 'value'}

In [0]:
# d[1]   # This would cause an error

Dictionary object contains several non-mutating methods:
```
d.copy()
d.items()
d.keys()
d.values()
d.get(k[,x])
```

Some methods mutate the dictionary:
```
d.clear()
d.update(d1)
d.setdefault(k[,x])
d.pop(k[,x])
d.popitem()
```

Try out some of these in the below cell. You can find more info with `help(dict)` or `help(dict.keys)`.

In [0]:
d=dict(a=1, b=2, c=3, d=4, e=5)
d.values()

dict_values([1, 2, 3, 4, 5])

#### Sets
Set is a dynamic, unordered container. It works a bit like dictionary, but only the keys are stored. And each key can be stored only once. The set requires that the keys to be stored are hashable. Below are a few ways of creating a set:

In [0]:
s={1,1,1}
print(s)
s=set([1,2,4,'a'])
print(s)
s=set()  # empty set
print(s)
s.add(7) # add one element
print(s)

{1}
{1, 2, 4, 'a'}
set()
{7}

A more useful example:

In [0]:
s="mississippi"
print(f"There are {len(set(s))} distinct characters in {s}")

There are 4 distinct characters in mississippi

The `set` provides the following non-mutating methods:

In [0]:
s=set()
s1=set()
s.copy()
s.issubset(s1)
s.issuperset(s1)
s.union(s1)
s.intersection(s1)
s.difference(s1)
s.symmetric_difference(s1);

The last four operation can be tedious to write to create a more complicated expression. The alternative is to use the corresponding operator forms: `|`, `&`, `-`, and `^`. An example of these:

In [0]:
s=set([1,2,7])
t=set([2,8,9])
print("Union:", s|t)
print("Intersection:", s&t)
print("Difference:", s-t)
print("Symmetric difference", s^t)

Union: {1, 2, 7, 8, 9}
Intersection: {2}
Difference: {1, 7}
Symmetric difference {1, 7, 8, 9}

There are also the following mutating methods:
```
s.add(x)
s.clear()
s.discard()
s.pop()
s.remove(x)
```

And the set operators `|`, `&`, `-`, and `^` have the corresponding mutating, augmented assignment forms: `|=`, `&=`, `-=`, and `^=`.

#### <div class="alert alert-info">Exercise 12 (distinct characters)</div>

Write function `distinct_characters` that gets a list of strings as a parameter. It should return a dictionary whose keys are the strings of the input list and the corresponding values are the numbers of distinct characters in the key.

Use the `set` container to temporarily store the distinct characters in a string.
Example of usage:
`distinct_characters(["check", "look", "try", "pop"])`
should return
`{ "check" : 4, "look" : 3, "try" : 3, "pop" : 2}`.
<hr/>

#### Miscellaneous stuff

To find out whether a container includes an element, the `in` operator can be used. The operator returns a truth value. Some examples of the usage:

In [0]:
print(1 in [1,2])
d=dict(a=1, b=3)
print("b" in d)
s=set()
print(1 in s)
print("x" in "text")

True
True
False
True

As a special case, for strings the `in` operator can be used to check whether a string is part of another string:

In [0]:
print("issi" in "mississippi")
print("issp" in "mississippi")

True
False

Elements of a container can be unpacked into variables:

In [0]:
first, second = [4,5]
a,b,c = "bye"
print(c)
d=dict(a=1, b=3)
key1, key2 = d
print(key1, key2)

e
a b

In membership testing and unpacking only the keys of a dictionary are used, unless either values or items (like below) are explicitly asked.

In [0]:
for key, value in d.items():
    print(f"For key '{key}' value {value} was stored")

For key 'a' value 1 was stored
For key 'b' value 3 was stored

To remove the binding of a variable, use the `del` statement. For example:

In [0]:
s = "bye"
del s
#print(s)    # This would cause an error

To delete an item from a container, the `del` statement can again be applied:

In [0]:
L=[13,23,40,100]
del L[1]
print(L)

[13, 40, 100]

In similar fashion `del` can be used to delete a slice. Later we will see that `del` can delete attributes from an object.

#### <div class="alert alert-info">Exercise 13 (reverse dictionary)</div>

Let `d` be a dictionary that has English words as keys and a list of Finnish words as values. So, the
dictionary can be used to find out the Finnish equivalents of an English word in the following way:

```
d["move"]
["liikuttaa"]
d["hide"]
["piilottaa", "salata"]
```

Make a function `reverse_dictionary` that creates a Finnish to English dictionary based on a English to Finnish dictionary given as a parameter. The values of the created dictionary should be lists of words. It should work like this:
```
d={'move': ['liikuttaa'], 'hide': ['piilottaa', 'salata'], 'six': ['kuusi'], 'fir': ['kuusi']}
reverse_dictionary(d)
{'liikuttaa': ['move'], 'piilottaa': ['hide'], 'salata': ['hide'], 'kuusi': ['six', 'fir']}
```


<hr/>

#### <div class="alert alert-info">Exercise 14 (find matching)</div>

Write function `find_matching` that gets a list of strings and a search string as parameters. The function should return the indices to those elements in the input list that contain the search string. Use the function `enumerate`.

An example:
`find_matching(["sensitive", "engine", "rubbish", "comment"], "en")`
should return the list
`[0, 1, 3]`.
<hr/>

In [0]:
#Code here

### Compact way of creating data structures
We can now easily create complicated data structures using `for` loops:

In [0]:
L=[]
for i in range(10):
    L.append(i**2)
print(L)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Because this kind of pattern is often used, Python offers a short-hand for this. A *list comprehension* is an expression that allows creating complicated lists on one line.

The same written in Python as a list comprehension:

In [0]:
L=[ a**3 for a in range(1,11)]
print(L)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

The generic form of a list comprehension is:
`[ expression for element in iterable lc-clauses ]`.
Let's break this syntax into pieces. The iterable can be any sequence (or something more general). The lc-clauses consists of zero or more of the following clauses:

* for elem in iterable
* if expression

A more complicated example. How would you describe these numbers?

In [0]:
L=[ 100*a + 10*b +c for a in range(0,10)
                    for b in range(0,10)
                    for c in range(0,10) 
                    if a <= b <= c]
print(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 22, 23, 24, 25, 26, 27, 28, 29, 33, 34, 35, 36, 37, 38, 39, 44, 45, 46, 47, 48, 49, 55, 56, 57, 58, 59, 66, 67, 68, 69, 77, 78, 79, 88, 89, 99, 111, 112, 113, 114, 115, 116, 117, 118, 119, 122, 123, 124, 125, 126, 127, 128, 129, 133, 134, 135, 136, 137, 138, 139, 144, 145, 146, 147, 148, 149, 155, 156, 157, 158, 159, 166, 167, 168, 169, 177, 178, 179, 188, 189, 199, 222, 223, 224, 225, 226, 227, 228, 229, 233, 234, 235, 236, 237, 238, 239, 244, 245, 246, 247, 248, 249, 255, 256, 257, 258, 259, 266, 267, 268, 269, 277, 278, 279, 288, 289, 299, 333, 334, 335, 336, 337, 338, 339, 344, 345, 346, 347, 348, 349, 355, 356, 357, 358, 359, 366, 367, 368, 369, 377, 378, 379, 388, 389, 399, 444, 445, 446, 447, 448, 449, 455, 456, 457, 458, 459, 466, 467, 468, 469, 477, 478, 479, 488, 489, 499, 555, 556, 557, 558, 559, 566, 567, 568, 569, 577, 578, 579, 588, 589, 599, 666, 667, 668, 669, 677, 678, 679, 688, 689, 699, 777, 778, 779, 788, 789, 799, 888, 889, 899, 999]

If one needs only to iterate through the list once, it is more memory efficient to use a *generator expression* instead. The only thing that changes syntactically is that the surrounding brackets are replaced by parentheses:

In [0]:
G = ( 100*a + 10*b + c for a in range(0,10)
                       for b in range(0,10)
                       for c in range(0,10) 
                       if a <= b <= c )
print(sum(G))   # This iterates through all the elements from the generator
print(sum(G))   # It doesn't restart from the beginning, so all elements are already consumed

60885
0

<div class="alert alert-warning">Note above that one can only iterate through the generator once.</div>

Similary a *dictionary comprehension* creates a dictionary:

In [0]:
d={ k : k**2 for k in range(10)}
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

And a *set comprehension* creates a set:

In [0]:
s={ i*j for i in range(10) for j in range(10)}
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 24, 25, 27, 28, 30, 32, 35, 36, 40, 42, 45, 48, 49, 54, 56, 63, 64, 72, 81}

#### <div class="alert alert-info">Exercise 15 (two dice comprehension)</div>

Redo the earlier exercise which printed all the pairs of two dice results that sum to 5. But this time use a list comprehension. Print one pair per line.
<hr/>

## String handling
We have already seen how to index, slice, concatenate, and repeat strings. Let's now look into what methods the `str` class offers. In Python strings are immutable. This means that for instance the following assignment is not legal:

In [0]:
s="text"
# s[0] = "a"    # This is not legal in Python

Because of the immutability of the strings, the string methods work by returning a value; they don't have any side-effects. In the rest of this section we briefly describe several of these methods. The methods are here divided into five groups.

### Classification of strings
All the following methods will take no parameters and return a truth value. An empty string will always result in `False`.

* `s.isalnum()` True if all characters are letters or digits
* `s.isalpha()` True if all characters are letters
* `s.isdigit()` True if all characters are digits
* `s.islower()` True if contains letters, and all are lowercase
* `s.isupper()` True if contains letters, and all are uppercase
* `s.isspace()` True if all characters are whitespace
* `s.istitle()` True if uppercase in the beginning of word, elsewhere lowercase

### String transformations
The following methods do conversions between lower and uppercase characters in the string. All these methods return a new string.

* `s.lower()`      Change all letters to lowercase
* `s.upper()`      Change all letters to uppercase
* `s.capitalize()` Change all letters to capitalcase
* `s.title()` Change to titlecase
* `s.swapcase()` Change all uppercase letters to lowercase, and vice versa

### Searching for substrings
All the following methods get the wanted substring as the
parameter, except the replace method, which also gets the
replacing string as a parameter

* `s.count(substr)` Counts the number of occurences of a substring
* `s.find(substr)` Finds index of the first occurence of a substring, or -1
* `s.rfind(substr)` Finds index of the last occurence of a substring, or -1
* `s.index(substr)` Like find, except ValueError is raised if not found
* `s.rindex(substr)` Like rfind, except ValueError is raised if not found
* `s.startswith(substr)` Returns True if string starts with a given substring
* `s.endswith(substr)` Returns True if string ends with a given substring
* `s.replace(substr, replacement)` Returns a string where occurences of one string
are replaced by another

Keep also in mind that the expression `"issi" in "mississippi"` returns a truth value of whether the first string occurs in the second string.

### Trimming and adjusting
* `s.strip(x)` Removes leading and trailing whitespace by default, or characters found in string x
* `s.lstrip(x)` Same as strip but only leading characters are removed
* `s.rstrip(x)` Same as strip but only trailing characters are removed
* `s.ljust(n)` Left justifies string inside a field of length n
* `s.rjust(n)` Right justifies string inside a field of length n
* `s.center(n)` Centers string inside a field of length n

An example of using the `center` method and string repetition:

In [0]:
L=[1,3,5,7,9,1,1]
print("-"*11)
for i in L:
    s="*"*i 
    print(f"|{s.center(9)}|")
print("-"*11)

-----------
|    *    |
|   ***   |
|  *****  |
| ******* |
|*********|
|    *    |
|    *    |
-----------

### Joining and splitting
The `join(seq)` method joins the strings of the sequence `seq`. The string itself is used as a delimitter. An example:

In [0]:
"--".join(["abc", "def", "ghi"])

'abc--def--ghi'

In [0]:
L=[str(x) for x in range(100)]
s=""
for x in L:
    s += " " + x    # Avoid doing this, it creates a new string at every iteration
print(s)            # Note the redundant initial space
print(" ".join(L))  # This is the correct way of building a string out of smaller strings

 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

<div class="alert alert-warning">If you want to build a string out of smaller strings, then
first put the small strings into a list, and then use the `join` method to catenate the pieces together. It is much more efficient this way. Use the <code>+</code> catenation operator only if you have very few short strings that you want to catenate.</div>

Below we can see that for our small (100 element) list, execution is an order of magnitude faster using the `join` method.

In [0]:
%%timeit
s=""
for x in L:
    s += " " + x

11.8 µs ± 114 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [0]:
%%timeit
s = " ".join(L)

1.25 µs ± 6.42 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

`%%timeit` is an IPython [cell magic](https://ipython.readthedocs.io/en/stable/interactive/magics.html) command, that is useful for timing execution in notebooks.

The method `split(sep=None)` divides a string into pieces that are separated by the string `sep`. The pieces are returned in a list. For instance, the call `'abc--def--ghi'.split("--")` will result in

In [0]:
'abc--def--ghi'.split("--")

['abc', 'def', 'ghi']

If no parameters are given to the `split` method, then it splits at any sequence of white space.

#### <div class="alert alert-info">Exercise 16 (acronyms)</div>

Write function `acronyms` which takes a string as a parameter and returns a list of acronyms. A word is an acronym if it has length at least two, and all its characters are in uppercase. Before acronym detection, delete punctuation with the `strip` method.

Test this function in the `main` function with the following call:
```python
print(acronyms("""For the purposes of the EU General Data Protection Regulation (GDPR), the controller of your personal information is International Business Machines Corporation (IBM Corp.), 1 New Orchard Road, Armonk, New York, United States, unless indicated otherwise. Where IBM Corp. or a subsidiary it controls (not established in the European Economic Area (EEA)) is required to appoint a legal representative in the EEA, the representative for all such cases is IBM United Kingdom Limited, PO Box 41, North Harbour, Portsmouth, Hampshire, United Kingdom PO6 3AU."""))
```

This should return
```['EU', 'GDPR', 'IBM', 'IBM', 'EEA', 'EEA', 'IBM', 'PO', 'PO6', '3AU']```
<hr/>

#### <div class="alert alert-info">Exercise 17 (sum equation)</div>

Write a function `sum_equation` which takes a list of positive integers as parameters and returns a string with an equation of the sum of the elements.

Example:
`sum_equation([1,5,7])`
returns
`"1 + 5 + 7 = 13"`
Observe, the spaces should be exactly as shown above. For an empty list the function should return the string "0 = 0".
<hr/>

## Modules

To ease management of large programs, software is divided
into smaller pieces. In Python these pieces are called *modules*.
A module should be a unit that is as independent from other
modules as possible.
Each file in Python corresponds to a module.
Modules can contain classes, objects, functions, ...
For example, functions to handle regular expressions are in
module `re`

The standard library of Python consists of hundreds of
modules. Some of the most common standard modules include

* `re`
* `math`
* `random`
* `os`
* `sys`

Any file with extension `.py` that contains Python source code
is a module. So, no special notation is needed to create a module.

### Using modules

Let’s say that we need to use the cosine function.
This function, and many other mathematical functions are
located in the `math` module.
To tell Python that we want to access the features offered by
this module, we can give the statement `import math`.
Now the module is loaded into memory.
We can now call the function like this:
```python
math.cos(0)
1.0
```

Note that we need to include the module name where the `cos`
function is found.
This is because other modules may have a function (or other
attribute of a module) with the same name.
This usage of different namespace for each module prevents
name clashes. For example, functions `gzip.open`, `os.open` are not to be confused
with the builtin `open` function.

### Breaking the namespace

If the cosine is needed a lot, then it might be tedious to
always specify the namespace, especially if the name of the
namespace/module is long.
For these cases there is another way of importing modules.
Bring a name to the current scope with
`from math import cos` statement.
Now we can use it without the namespace specifier: `cos(1)`.

Several names can be imported to the current scope with
`from math import name1, name2, ...`
Or even all names of the module with `from math import *`
The last form is sensible only in few cases, normally it just
confuses things since the user may have no idea what names
will be imported.

### Module lookup

When we try to import a module `mod` with the import
statement, the lookup proceeds in the following order:

* Check if it is a builtin module
* Check if the file `mod.py` is found in any of the folders in
the list `sys.path`. The first item in this list is the current
folder

When Python is started, the `sys.path` list is initialised with
the contents of the `PYTHONPATH` environment variable

### Module hierarchy

The standard library contains hundreds of modules.
Hence, it is hard to comprehend what the library includes.
The modules therefore need to be organised somehow.
In Python the modules can be organised into hierarchies using
*packages*.
A package is a module that can contain other packages and
modules.
For example, the `numpy` package contains subpackages `core`,
`distutils`, `f2py`, `fft`, `lib`, `linalg`, `ma`, `numarray`, `oldnumeric`,
`random`, and `testing`.
And package `numpy.linalg` in turn contains modules `linalg`,
`lapack_lite` and `info`.

### Importing from packages

The statement `import numpy` imports the top-level package `numpy`
and its subpackages. 

* `import numpy.linalg` imports the subpackage only, and
* `import numpy.linalg.linalg` imports the module only

If we want to skip the long namespace specification, we can
use the form

```python
from numpy.linalg import linalg
```

or

```python
from numpy.linalg import linalg as lin
```

if we want to use a different name for the module. The following command imports the function `det` (computes the determinant of a matrix) from the module linalg, which is contained in a subpackage linalg, which belongs to package numpy:
```python
from numpy.linalg.linalg import det
```

Had we only imported the top-level package `numpy` we would have to refer to the `det` function with the full name `numpy.linalg.linalg.det`.

Here's a recap of the module hierarchy:

```
numpy    package
  .
linalg   subpackage
  .
linalg   module
  .
 det     function
```

### Correspondence between folder and module hierarchies

The packages are represented by folders in the filesystem.
The folder should contain a file named `__init__.py` that
makes up the package body. This handles the initialisation of
the package.
The folder may contain also further folders
(subpackages) or Python files (normal modules).

```
a/
    __init__.py
    b.py
    c/
        __init__.py
        d.py
        e.py
```
![package.svg](https://github.com/saskeli/data-analysis-with-python-summer-2019/blob/master/package.svg?raw=1)

### Contents of a module

Suppose we have a module named `mod.py`.
All the assignments, class definitions with the `class` statement,
and function definitions with `def` statement will create new
attributes to this module.
Let’s import this module from another Python file using the
`import mod` statement.
After the import we can access the attributes of the module
object using the normal dot notation: `mod.f()`,
`mod.myclass()`, `mod.a`, etc.
Note that Python doesn’t really have global variables that are
visible to all modules. All variables belong to some module
namespace.

One can query the attributes of an object using the `dir` function. With no
parameters, it shows the attributes of the current module. Try executing `dir()` in
an IPython shell or in a Jupyter notebook! After that, define the following attributes, and try running `dir()`
again:

```python
a=5
def f(i):
    return i + 1
```

The above definitions created a *data attribute* called `a` and a *function attribute* called `f`.
We will talk more about attributes next week when we will talk about objects.

Just like other objects, the module object contains its
attributes in the dictionary `modulename.__dict__`
Usually a module contains at least the attributes `__name__` and
`__file__`. Other common attributes are `__version__`,
`__author__` and `__doc__` , which contains the docstring of the
module.
If the first statement of a file is a string, this is taken as the
docstring for that module. Note that the docstring of the module really must be the first non-empty non-comment line.
The attribute `__file__` is always the filename of the module.

The module attribute `__name__` has value `“__main__”` if we in are the main program,
otherwise some other module has imported us and name
equals `__file__`.

In Python it is possible to put statements on the top-level of our module `mod` so that they don't belong to any function. For instance like this:

```python
for _ in range(3):
    print("Hello")
```

But if somebody imports our module with `import mod`, then all the statements at the top-level will be executed. This may be surprising to the user who imported the module. The user will usually say, explicitly when he/she wants to execute some code from the imported module.

It is better style to put these statements inside some function. If they don't fit in any other function, then you can use, for example, the function named `main`, like this:

```python
def main():
    for _ in range(3):
        print("Hello")

if __name__ == "__main__":    # We call main only when this module is not being imported, but directly executed
    main()                    # for example with 'python3 mod.py'
```

You probably have seen this mechanism used in the exercise stubs.
Note that in Python the `main` has no special meaning, it is just our convention to use it here.
Now if somebody imports `mod`, the `for` loop won't be automatically executed. If we want, we can call it explicitly with `mod.main()`.

```python
for _ in range(3):
    print("Hello")
```

#### <div class="alert alert-info">Exercise 18 (usemodule)</div>

Create your own module as file `triangle.py` in the `src` folder. The module should contain two functions:

* `hypothenuse` which returns the length of the hypothenuse when given the lengths of two other sides of a right-angled triangle
* `area` which returns the area of the right-angled triangle, when two sides, perpendicular to each other, are given as parameters.

Make sure both the functions and the module have descriptive docstrings. Add also the `__version__` and `__author__` attributes to the module. Call both your functions from the main function (which is in file `usemodule.py`).

## Regular expressions

### Examples

We have already seen that we can ask from a string `str`
whether it begins with some substring as follows:
`str.startswith('Apple')`.
If we would like to know whether it starts with `"Apple"` or
`"apple"`, we would have to call `startswith` method twice.
Regular expressions offer a simpler solution:
`re.match(r"[Aa]pple", str)`.
The bracket notation is one example of the special syntax of
*regular expressions*. In this case it says that any of the
characters inside brackets will do: either `"A"` or `"a"`. The other
letters in `"pple"` will act normally. The string `r"[Aa]pple"` is
called a *pattern*.

A more complicated example asks whether the string `str`
starts with either `apple` or `banana` (no matter if the first letter
is capital or not):
`re.match(r"[Aa]pple|[Bb]anana", str)`.
In this example we saw a new special character `|` that denotes
an alternative. On either side of the bar character we have a
*subpattern*.

A legal variable name in Python starts with a letter or an
underline character and the following characters can also be
digits.
So legal names are, for instance: `_hidden`, `L_value`, `A123_`.
But the name `2abc` is not a valid variable name.
Let’s see what would be the regular expression pattern to
recognise valid variable names:
`r"[A-Za-z_][A-Za-z_0-9]*\Z"`.
Here we have used a shorthand for character ranges: `A-Z`.
This means all the characters from `A` to `Z`.

The first character of the variable name is defined in the first
brackets. The subsequent characters are defined in the second
brackets.
The special character `*` means that we allow any number
(0,1,2, . . . ) of the previous subpattern. For example the
pattern `r"ba*"` allows strings `"b"`, `"ba"`, `"baa"`, `"baaa"`, and
so on.
The special syntax `\Z` denotes the end of the string.
Without it we would also accept `abc-` as a valid name since
the `match` function normally checks only that a string starts with a pattern.

The special notations, like `\Z`, also cause problems with string
handling.
Remember that normally in string literals we have some
special notation: `\n` stands for newline, `\t` stands for tab, and
so on.
So, both string literals and regular expressions use similar
looking notations, which can create serious confusion.
This can be solved by using the so-called *raw strings*. We
denote a raw string by having an `r` letter before the first
quotation mark, for example `r"ab*\Z"`.
When using raw strings, the newline (`\n`), tab (`\t`), and other
special string literal notations aren’t interpreted. One should
always use raw strings when defining regular expression
patterns!

### Patterns

A pattern represents a set of strings. This set can even be
potentially infinite.
They can be used to describe a set of strings that have some
commonality; some regular structure.
Regular expressions (RE) are a classical computer science topic.
They are very common in programming tasks. Scripting
languages, like Python, are very fluent in regular expressions.
Very complex text processing can be achieved using regular
expressions.

In patterns, normal characters (letters, numbers) just represent
themselves, unless preceded by a backslash, which may trigger
some special meaning.
Punctuation characters have special meaning, unless preceded
by backslash (`\`), which deprives their special meaning.
Use `\\` to represent a backslash character without any special
meaning.
In the following slides we will go through some of the more
common RE notations.

```
. Matches any character
[...] Matches any character contained within the brackets
[^...] Matches any character not appearing after the hat (ˆ)
ˆ Matches the start of the string
$ Matches the end of the string
* Matches zero or more previous RE
+ Matches one or more previous RE
{m,n} Matches m to n occurences of previous RE
? Matches zero or one occurences of previous RE
```

We have already seen that a `|` character denotes alternatives.
For example, the pattern `r"Get (on|off|ready)"` matches
the following strings: `"Get on"`, `"Get off"`, `"Get ready"`.
We can use parentheses to create groupings inside a pattern:
`r"(ab)+"` will match the strings `"ab"`, `"abab"`, `"ababab"`,
and so on.
These groups are also given a reference number starting from 1. 
We can refer to groups using backreferences: `\number`.
For example, we can find separated patterns that get
repeated: `r"([a-z]{3,}) \1 \1"`.
This will recognise, for example, the following strings: `"aca
aca aca"`, `"turn turn turn"`. But not the strings `"aca
aba aca"` or `"ac ac ac"`.


In the following, note that a hat (ˆ) as the first character
inside brackets will create a complement set of characters:

```
`\d` same as `[0-9]`, matches a digit
`\D` same as `[ˆ0-9]`, matches anything but a digit
`\s` matches a whitespace character (space, newline, tab, ... )
`\S` matches a nonwhitespace character
`\w` same as `[a-zA-Z0-9_]`, matches one alphanumeric character
`\W` matches one non-alphanumeric character
```

Using the above notation we can now shorten our previous
variable name example to `r’[a-zA-Z_]\w*\Z’`

The patterns `\A`, `\b`, `\B`, and `\Z` will all match an empty
string, but in specific places.
The patterns `\A` and `\Z` will recognise the beginning and end
of the string, respectively.
Note that the patterns `ˆ` and `$` can in some cases match also
after a newline and before a newline, correspondingly.
So, `\A` is distinct from `ˆ`, and `\Z` is distinct from `$`.
The pattern `\b` matches at the start or end of a word. The
pattern `\B` does the reverse.

### Match and search functions

We have so far only used the `re.match` function which tries
to find a match at the beginning of a string
The function `re.search` allows to match any substring of a
string.
Example: `re.search(r'\bback\b', s)` will match
strings `"back"`, `"a back, is a body part"`, `"get back"`. But it
will not match the strings `"backspace"` or `"comeback"`.

The function `re.search` finds only the first occurence.
We can use the `re.findall` function to find all occurences.
Let’s say we want to find all present participle words in a
string `s`. The present participle words have ending `'ing'`.
The function call would look like this:
`re.findall(r'\w+ing\b', s)`.
Let’s try running this:

In [0]:
import re
s = "Doing things, going home, staying awake, sleeping later"
re.findall(r'\w+ing\b', s)

['Doing', 'going', 'staying', 'sleeping']

Let’s say we want to pick up all the integers from a string.
We can try that with the following function call:
`re.findall(r'[+-]?\d+', s)`.
An example run:

In [0]:
re.findall(r'[+-]?\d+', "23 + -24 = -1")

['23', '-24', '-1']

Suppose we are given a string of if/then sentences, and we
would like to extract the conditions from these sentences.
Let’s try the following function call:
`re.findall(r'[Ii]f (.*), then', s)`.
An example run:

In [0]:
s = ("If I’m not in a hurry, then I should stay. " +
    "On the other hand, if I leave, then I can sleep.")
re.findall(r'[Ii]f (.*), then', s)

['I’m not in a hurry, then I should stay. On the other hand, if I leave']

But I wanted a result: `["I'm not in a hurry", 'I leave']`. That
is, the condition from both sentences. How can this be fixed?

The problem is that the pattern `.*` tries to match as many
characters as possible.
This is called *greedy matching*.
One way of solving this problem is to notice that the two
sentences are separated by a full-stop (.).
So, instead of matching all the characters, we need to match
everything but the dot character.
This can be achieved by using the complement character
class: `[^.]`. The hat character (`ˆ`) in the beginning of a
character class means the complement character class

After the modification the function call looks like this:
`re.findall(r'[Ii]f ([^.]*), then', s)`.
Another way of solving this problem is to use a non-greedy
matching.
The repetition specifiers `+`, `*`, `?`, and `{m,n}` have
corresponding non-greedy versions: `+?`, `*?`, `??`, and `{m,n}?`.
These expressions use as few characters as possible to make
the whole pattern match some substring.
By using non-greedy version, the function call looks like this:
`re.findall(r’[Ii]f (.*?), then’, s)`.

### Functions in the `re` module

Below is a list of the most common functions in the `re` module

* `re.match(pattern, str)`
* `re.search(pattern, str)`
* `re.findall(pattern, str)`
* `re.finditer(pattern, str)`
* `re.sub(pattern, replacement, str, count=0)`

Functions `match` and `search` return a *match object*.
A match object describes the found occurence.
The function `findall` returns a list of all the occurences of
the pattern. The elements in the list are strings.
The function `finditer` works like `findall` function except
that instead of returning a list, it returns an iterator whose
items are match objects.
The function `sub` replaces all the occurences of the pattern in
`str` with the string replacement and returns the new string.

An example: The following program will replace all "she"
words with "he"

```
import re
str = "She goes where she wants to, she's a sheriff."
newstr = re.sub(r'\b[Ss]he\b', 'he', str)
print newstr
```

This will print `he goes where he wants to, he's a sheriff.`

The `sub` function can also use backreferences to refer to the
matched string. The backreferences \1, \2, and so on, refer
to the groups of the pattern, in order.
An example:
```
import re
str = """He is the president of Russia.
He’s a powerful man."""
newstr = re.sub(r'(\b[Hh]e\b)', r'\1 (Putin)', str, 1)
print newstr
```

This will print
```
He (Putin) is the president of Russia.
He’s a powerful man.
```

### Match object

Functions `match`, `search`, and `finditer` use `match` objects
to describe the found occurence.
The method `groups()` of the match object returns the tuple
of all the substrings matched by the groups of the pattern.
Each pair of parentheses in the pattern creates a new group.
These groups are are referred to by indices 1, 2, ...
The group 0 is a special one: it refers to the match created by
the whole pattern.

Let’s look at the match object returned by the call

```
mo = re.search(r'\d+ (\d+) \d+ (\d+)',
'first 123 45 67 890 last')
```

The call `mo.groups()` returns a tuple `(’45’, ’890’)`.
We can access just some individual groups by using the
method `group(gid, ...)`.
For example, the call `mo.group(1)` will return `’45’`.
The zeroth group will represent the whole match:
`’123 45 67 890’`

In addition to accessing the strings matched by the pattern
and its groups, the corresponding indices of the original string
can be accessed:

* The `start(gid=0)` and `end(gid=0)` methods return the start
and end indices of the matched group gid, correspondingly
* The method `span(gid)` just returns the pair of these start
and end indices

The match object mo can also be used like a boolean value:

```python
mo = re.search(...)
if mo:
    # do something
```

will do something if a match was found.
Alternatively, the match object can be converted to a boolean
value by the call `found = bool(mo)`.

### Miscellaneous stuff

If the same pattern is used in many function calls, it may be
wise to precompile the pattern, mainly for efficiency reasons.
This can be done using the `compile(pattern, flags=0)` function
in the `re` module. The function returns a so-called RE object.
The RE object has method versions of the functions found in
module `re`.
The only difference is that the first parameter is not the
pattern since the precompiled pattern is stored in the RE
object.

The details of matching operation can be specified using
optional flags.
These flags can be given either inside the pattern or as a
parameter to the compile function.
Some of the more common flags are given in the following
table

| x   | Flag |
|-----|--------------|
|`(?i)` | re.IGNORECASE|
|`(?m)` | re.MULTILINE|
|`(?s)` | re.DOTALL|

The elements on the left can appear anywhere in the pattern
but preferably in the beginning.
On the right there are attributes of the re module that can be
given to the compile function as the second parameter

The `IGNORECASE` flag makes lower- and uppercase
characters appear as equal.
The `MULTILINE` flag makes the special characters `ˆ` and `$`
match the beginning and end of each line in addition to the
beginning and end of the whole string. These flags make `\A`
differ from `ˆ`, and `\Z` differ from `$`.
The `DOTALL` flag makes the character class `.` (dot) also
accept the newline character, in addition to all the other
letters.

When giving multiple flags to the compile function, the flags
can be separated with the `|` sign.
For example, `re.compile(pattern, re.MULTILINE | re.DOTALL)`.
This is equal to `re.compile('(?m)(?s)' + pattern)`.

#### <div class="alert alert-info">Exercise 19 (integers in brackets)</div>

Write function `integers_in_brackets` that finds from a given string all integers that are enclosed in brackets.

Example run:
`integers_in_brackets("  afd [asd] [12 ] [a34]  [ -43 ]tt [+12]xxx")`
returns
`[12, -43, 12]`.
So there can be whitespace between the number and the brackets, but no other character besides those that make up the integer.
<hr/>

In [0]:
#Write Code Here

## Basic file processing

A file can be opened with the `open` function. The call `open(filename, mode="r")` will return a *file object*, whose type is `file`. This file object can be used to refer to a file on disk. For example, when we want to read from or write to a file, we can used the methods `read` and `write` of the file object. After the file object is no longer needed, a call to the `close` method should be made.

We can control what kind of operations we can perform on a file with the *mode* parameter of the `open` function. Different options include opening a file for reading or writing,
whether the file should exists already or be created with the
call to open, etc. Here's a list of all the opening modes:

| Mode | Description |
| ---- | ----------- |
| `r`  | read-only mode, file must exist |
| `w`  | write-only mode, creates, or overwrites an existing file |
| `a`  | write-only mode, write always appends to the end |
| `r+` | read/write mode, file must already exist |
| `w+` | read/write mode, creates, or overwrites an existing file |
| `a+` | read/write mode, write will append to end |

In the end of the mode string either the letter `t` or `b` can be appended. These stand for text mode and binary mode. If this letter is not given, the file type is text mode by default. 

For binary mode the contents of the file are not interpreted in any way, and the read and write methods handle bytes. (A byte consists of 8 bits and can be used to represent a number in the range 0 to 255.)

In the text mode two interpretations happen

* On Windows operating system the end of line in files is encoded by two characters. When the file is read these two charactes are converted to `'\n'` character. During writes to a file this conversion happens in the opposite direction.
* One character is encoded in the file as one or more bytes. This conversion happens automatically during read and write operations. One common encoding between bytes and characters is utf-8. In this encoding, the Finnish character `'ä'`, for example, is encoded as the following sequence of bytes:

In [0]:
"ä".encode("utf-8")

b'\xc3\xa4'

Above the two bytes were expressed as hexadecimals. In decimal notation they would be 195 and 164. (Both in the range from 0 to 255.)

In [0]:
list("ä".encode("utf-8"))              # Show as a list of integers

[195, 164]

What is the utf-8 encoding of the letter `'a'`?

During this course we will only consider files containing text, so the default text mode is fine for us. But we might sometimes have to specify the encoding of a file, if it is not the usual utf-8.

### Some common file object methods
* `read(size)` will read size characters/bytes as a string
* `write(string)` will write string/bytes to a file
* `readline()` will read a string until and including the next newline character is met
* `readlines()` will return a list of all lines of a file
* `writelines()` will write a list of lines to a file
* `flush()` will try to make sure that the changes made to a file are written to disk immediately

In [0]:
f = open("basics.ipynb", "r") # Let's open this notebook file, 
                              # which is essentially a text file.
                              # So you can open it in a texteditor as well.
        
for i in range(5):            # And read the first five lines
    line = f.readline()
    print(f"Line {i}: {line}", end="")
f.close()

Line 0: {
Line 1:  "cells": [
Line 2:   {
Line 3:    "cell_type": "markdown",
Line 4:    "metadata": {},

It is easy to forget to close the file. One can use a *context manager* to solve this problem. A context manager is created with the `with` statement. After the indented block of the `with` statement exits, the file will be automatically closed.

In [0]:
with open("basics.ipynb", "r") as f:          # the file will be automatically closed,
                                              # when the with block exits
    for i in range(5):
        line = f.readline()
        print(f"Line {i}: {line}", end="")

Line 0: {
Line 1:  "cells": [
Line 2:   {
Line 3:    "cell_type": "markdown",
Line 4:    "metadata": {},

The `file` object is iterable. This means that we can iterate through the lines in the file using a for loop, like in the below example:

In [0]:
max_len = 0
with open("basics.ipynb", "r") as f:
    for line in f:    # iterates through all the lines in the file
        if len(line) > max_len:
            max_len = len(line)
print(f"The longest line in this file has length {max_len}")

The longest line in this file has length 1046

### Standard file objects
Python has automatically three file objects open:

* `sys.stdin` for *standard input*
* `sys.stdout` for *standard output*
* `sys.stderr` for *standard error*
To read a line from a user (keyboard), you can call `sys.stdin.readline()`. To write a line to a user (screen), call `sys.stdout.write(line)`. The standard error is meant for error messages only, even though its output often goes to the same destination as standard output.

The print function uses the file `sys.stdout` and input function uses the file `sys.stdin`. An example of usage:

In [0]:
import sys
import random
i=random.randint(-10,10)
if i >= 0:
    sys.stdout.write("Got a positive integer.\n")
else:
    sys.stderr.write("Got a negative integer.\n")

Got a negative integer.

These standard file objects are meant to be a basic input/output mechanism in textual form. The destinations of the file objects can be changed to point
somewhere else than the usual keyboard and screen. Very often these are redirected to some files. For example, it is usual to point the stderr to a file where all
error messages are logged.

## sys module

We saw above that the `sys` module contains the three file objects `sys.stdin`, `sys.stdout`, and `sys.stderr`. It has also few other useful attributes. The attribute `sys.path` is the list of folders that Python uses to look for imported modules. The list `sys.argv` contains the so called *command line parameters*. For example in Linux if you are using the terminal, then you can run your program with the command `python3 programname.py param1 param2 ...`. After Python has started your program, the command line parameters are visible as follows. The name of the program is in `sys.argv[0]`. The rest of the command line parameters are after the program name in this list: `sys.argv[1]=="param1"`, `sys.argv[2]=="param2"`, and so on. The command line parameters can be useful in adjusting the behaviour of your program. A few examples of these will be in the following exercises. (The terminal window is a textual interface to your computer instead of the usual graphical interface.)

The function `sys.exit` can be used to exit immediately your program. The integer parameter given to this function is the return value of the program. Usually the return value 0 means that the program ran successfully, and non-zero integer means that an error occurred. This return value is accessible from the terminal window from where you started the program.

#### <div class="alert alert-info">Exercise 20 (file listing)</div>

The file `src/listing.txt` contains a list of files with one line per file. Each line contains seven fields: access rights, number of references, owner's name, name of owning group, file size, date, filename. These fields are separated with one or more spaces. Note that there may be spaces also within these seven fields.

Write function `file_listing` that loads the file `src/listing.txt`. It should return a list of tuples (size, month, day, hour, minute, filename). Use regular expressions to do this (either `match`, `search`, `findall`, or `finditer` method).

An example: for line
```
-rw-r--r-- 1 jttoivon hyad-all   25399 Nov  2 21:25 exception_hierarchy.pdf
```
the function should create the tuple `(25399, "Nov", 2, 21, 25, "exception_hierarchy.pdf")`.
<hr/>

#### <div class="alert alert-info">Exercise 21 (red green blue)</div>

The file `src/rgb.txt` contains names of colors and their numerical representations in RGB format. The RBG format allows a color to be represented as a mixture of red, green, and blue components. Each component can have an integer value in the range [0,255]. Each line in the file contains four fields: red, green, blue, and colorname.
Each field is separated by some amount of whitespace (tab or space in this case).
The text file is formatted to make it print nicely, but that makes it harder to process by a computer. Note that some color names can also contain a space character.
 
Write function `red_green_blue` that reads the file `rgb.txt` from the folder `src`.  Remove the irrelevant first line of the file. The function should return a list of strings. Clean-up the file so that the strings in the returned list have four fields separated by a single tab character (`\t`). Use regular expressions to do this.

The first string in the returned list should be:
```
'255\t250\t250\tsnow'
```

<hr/>

#### <div class="alert alert-info">Exercise 22 (word frequencies)</div>

Create function `word_frequencies` that gets a filename as a parameter and returns a dict with the word frequencies. In the dictionary the keys are the words and the corresponding values are the number of times that word occurred in the file specified by the function parameter. Read all the lines from the file and split the lines into words using the `split()` method. Further, remove punctuation from the ends of words using the `strip("""!"#$%&'()*,-./:;?@[]_""")` method call.

Test this function in the main function using the file `alice.txt`. In the output, there should be a word and its count per line separated by a tab:

```
The     64
Project 83
Gutenberg	26
EBook   3
of      303
```

<hr/>

#### <div class="alert alert-info">Exercise 23 (file count)</div>

This exercise can give two points at maximum!

Part 1.

Create a function `file_count` that gets a filename as parameter and returns a triple of numbers. The function should read the file, count the number of lines, words, and characters in the file, and return a triple with these count in this order. You get division into words by splitting at whitespace. You don't have to remove punctuation.

Part 2.

Create a main function that in a loop calls `file_count` using each filename in the list of command line parameters `sys.argv[1:]` as a parameter, in turn.
For call `python3 src/file_count file1 file2 ...`
the output should be
```
?      ?       ?       file1
?      ?       ?       file2
...
```
The fields are separated by tabs (`\t`). The fields are in order: linecount, wordcount, charactercount, filename.
<hr/>

#### <div class="alert alert-info">Exercise 24 (file extensions)</div>

This exercise can give two points at maximum!

Part 1.

Write function `file_extensions` that gets as a parameter a filename.
It should read through the lines from this file. Each line contains a filename.
Find the extension for each filename. The function should return a pair, where the
first element is a list containing all filenames with no extension (with the preceding period (`.`) removed).
The second element of the pair is a dictionary with extensions as keys and corresponding values are lists with filenames having that extension.

Sounds a bit complicated, but hopefully the next example will clarify this.
If the file contains the following lines
```
file1.txt
mydocument.pdf
file2.txt
archive.tar.gz
test
```
then the return value should be the pair:
`(["test"], { "txt" : ["file1.txt", "file2.txt"], "pdf" : ["mydocument.pdf"], "gz" : ["archive.tar.gz"] } )`

Part 2.

Write a `main` method that calls the `file_extensions` function with "src/filenames.txt" as the argument. Then print the results so that for each extension there is a line consisting of the extension and the number of files with that extension. The first line of the output should give the number of files without extensions.

With the example in part 1, the output should be
```
1 files with no extension
gz 1
pdf 1
txt 2
```
Had there been no filenames without extension then the first line would have been `0 files with no extension`. In the printout list the extensions in alphabetical order.
<hr/>

## Summary

* We have learned that Python's code blocks are denoted by consistent indenting, with spaces or tabs, unlike in many other languages
* Python's `for` loops goes through all the elements of a container without the need of worrying about the positions (indices) of the elements in the container
* More generally, an iterable is an object whose elements can be gone through one by one using a `for` loop. Such as `range(1,7)`
* Python has dynamic typing: the type of a name is known only when we run the program. The type might not be fixed, that is, if a name is created, for example, in a loop, then its type might change at each iteration.
* Visibility of a name: a name that refers to a variable can disappear in the middle of a code block, if a `del` statement is issued!
* Python is good at string handling, but remember that if you want to concatenate large number of strings, use the `join` method. Concatenating by the `+` operator multiple times is very inefficient
* Several useful tools exist to process sequences: `map`, `reduce`, `filter`, `zip`, `enumerate`, and `range`. The unnamed lambda function can be helpful with these tools. Note that these tools (except the `reduce`) don't return lists, but iterables, for efficiency reasons: Most often we don't want to store the result from these tools to a container (such as a list), we may only want to iterate through the result!
* We have learned how regular expressions can be used to specify regular sets of strings

    * We know how to find out if a string matches a regular expression
    * We know how to extract pieces of text that match a RE
    * We can replace matches to a RE with another string
* We can read (and write) a text file either line by line or whole file at the same time
* We also know how to specify the encoding of the file. The utf-8 encoding is a very common and can represent nearly every character or symbol of any (natural) language
* Program's parameters are in the array `sys.argv`, and we can return a value from the program with the function `sys.exit`
* The file streams `sys.stdin`, `sys.stdout`, and `sys.stderr` allow basic textual input and output to and from the program

<!--NAVIGATION-->


<a href="https://colab.research.google.com/github/smabb/p/blob/master/Lesson2_basics.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>