<a href="https://colab.research.google.com/github/smabb/p/blob/master/Lesson2_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 2 Python Basics

## Variables and data types




<table>
<tbody style="height: 40px;">
<tr>
<td><strong>Variable Name</strong></td>
<td><strong>Value</strong></td>
<td><strong>Data Type</strong></td>
</tr>
<tr>
<td><span style="font-weight: 400;"><code>dog_name</code></span></td>
<td><span style="font-weight: 400;"><code>'Freddie'</code></span></td>
<td><span style="font-weight: 400;">str (short for string)</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;"><code>age</code></span></td>
<td><span style="font-weight: 400;"><code>9</code></span></td>
<td><span style="font-weight: 400;">int (short for integer)</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;"><code>is_vaccinated</code></span></td>
<td><span style="font-weight: 400;"><code>True</code></span></td>
<td><span style="font-weight: 400;">bool (short for Boolean)</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;"><code>height</code></span></td>
<td><span style="font-weight: 400;"><code>1.1</code></span></td>
<td><span style="font-weight: 400;">float (short for floating)</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;"><code>birth_year</code></span></td>
<td><span style="font-weight: 400;"><code>2001</code></span></td>
<td><span style="font-weight: 400;">int (short for integer)</span></td>
</tr>
</tbody>
</table>

In [8]:
dog_name = 'Freddie'
age = 9
is_vaccinated = True
height = 1.1
birth_year = 2001
type(age)

int

In [9]:
dog_name = 'Eeddie'
dog_name

'Eeddie'

###  Basic Operators

In [11]:
a=1;b=2;
a+b

3

Arithemetic Operations
<table>
<tbody style="height: 40px;">
<tr>
<td><b>Operator</b></td>
<td><b>What does it do?</b></td>
<td><b>Result in our example</b></td>
</tr>
<tr>
<td><span style="font-weight: 400;"><code>a + b</code></span></td>
<td><span style="font-weight: 400;">Adds a to b</span></td>
<td><span style="font-weight: 400;">7</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;"><code>a - b</code></span></td>
<td><span style="font-weight: 400;">Subtract b from a</span></td>
<td><span style="font-weight: 400;">-1</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;"><code>a * b</code></span></td>
<td><span style="font-weight: 400;">Multiply a by b</span></td>
<td><span style="font-weight: 400;">12</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;"><code>a / b</code></span></td>
<td><span style="font-weight: 400;">Divide a by b</span></td>
<td><span style="font-weight: 400;">0.75</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;"><code>b % a</code></span></td>
<td><span style="font-weight: 400;">Divides b by a and returns remainder</span></td>
<td><span style="font-weight: 400;">1</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;"><code>a ** b</code></span></td>
<td><span style="font-weight: 400;">a raised to the power of b</span></td>
<td><span style="font-weight: 400;">81</span></td>
</tr>
</tbody>
</table>

In [12]:
a > b

False

Comparison Operators

<table>
<tbody style="height: 40px;">
<tr>
<td><b>Operator</b></td>
<td><b>What does it do?</b></td>
<td><b>Result in our example</b></td>
</tr>
<tr>
<td><span style="font-weight: 400;"><code>a &gt; b</code></span></td>
<td><span style="font-weight: 400;">Evaluate if </span><span style="font-weight: 400;"><code>a</code></span><span style="font-weight: 400;"> is greater than </span><span style="font-weight: 400;"><code>b</code></span></td>
<td><span style="font-weight: 400;">False</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;"><code>a &lt; b</code></span></td>
<td><span style="font-weight: 400;">Evaluate if </span><span style="font-weight: 400;"><code>a</code></span><span style="font-weight: 400;"> is less than </span><span style="font-weight: 400;"><code>b</code></span></td>
<td><span style="font-weight: 400;">True</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;"><code>a == b</code></span></td>
<td><span style="font-weight: 400;">Evaluate if&nbsp;</span><span style="font-weight: 400;"><code>a</code></span><span style="font-weight: 400;">&nbsp;equals&nbsp;</span><span style="font-weight: 400;"><code>b</code></span></td>
<td><span style="font-weight: 400;">False</span></td>
</tr>
</tbody>
</table>

 Logical Operators
 <table>
<tbody style="height: 40px;">
<tr>
<td><b>Operator</b></td>
<td><b>What does it do?</b></td>
<td><b>Result in our example</b></td>
</tr>
<tr>
<td><span style="font-weight: 400;"><code>c and d</code></span></td>
<td><span style="font-weight: 400;">True if both </span><span style="font-weight: 400;"><code>c</code></span><span style="font-weight: 400;"> and </span><span style="font-weight: 400;"><code>d</code></span><span style="font-weight: 400;"> are True</span></td>
<td><span style="font-weight: 400;">False</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;"><code>c or d</code></span></td>
<td><span style="font-weight: 400;">True if either </span><span style="font-weight: 400;"><code>c</code></span><span style="font-weight: 400;"> or </span><span style="font-weight: 400;"><code>d</code></span><span style="font-weight: 400;"> is True</span></td>
<td><span style="font-weight: 400;">True</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;"><code>not c</code></span></td>
<td><span style="font-weight: 400;">The opposite of </span><span style="font-weight: 400;"><code>c</code></span></td>
<td><span style="font-weight: 400;">False</span></td>
</tr>
</tbody>
</table>

## Data Structures in Python

## Functions and methods

## If statements

## Loops

## Python syntax essentials