<a href="https://colab.research.google.com/github/smabb/p/blob/master/Lesson1_Introduction_to_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 1 Introduction to Colab

## 1.1 First Colab Document

### What is Colab?



*   Hosted Jupyter Notebooks
*   GPU/TPU enabled runtimes
*   Google Docs Integration

### Creating Colab Notebooks

Three main interfaces:



*   New Notebook (Python2 or Python3)
*   Upload Notebooks
*   Open Notebooks (Github, Drive, Upload)

### Upload to Colab

In [9]:
from google.colab import files
uploaded = files.upload()

### Python executable

Can run scripts, REPL and even run python statements with -c flag and semicolon to string together multiple statements

In [34]:
!python -c "import os;print(os.listdir())"

['.config', 'gdrive', 'sample_data']

In [35]:
!ls -l

total 8
drwx------ 4 root root 4096 Jan  4 16:06 gdrive
drwxr-xr-x 1 root root 4096 Dec 18 16:52 sample_data

In [36]:
!pip install yellowbrick

Requirement already satisfied: yellowbrick in /usr/local/lib/python3.6/dist-packages (0.9.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from yellowbrick) (1.3.3)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.6/dist-packages (from yellowbrick) (0.21.3)
Requirement already satisfied: cycler>=0.10.0 in /usr/local/lib/python3.6/dist-packages (from yellowbrick) (0.10.0)
Requirement already satisfied: matplotlib!=3.0.0,>=1.5.1 in /usr/local/lib/python3.6/dist-packages (from yellowbrick) (3.1.2)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.6/dist-packages (from yellowbrick) (1.17.4)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20->yellowbrick) (0.14.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10.0->yellowbrick) (1.12.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.0.0,>=1.5.1->yellowbrick) (2.4.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.0.0,>=1.5.1->yellowbrick) (1.1.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib!=3.0.0,>=1.5.1->yellowbrick) (2.6.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib!=3.0.0,>=1.5.1->yellowbrick) (42.0.2)

In [37]:
#this is how you capture input to a program
import sys;sys.argv

['/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py',
 '-f',
 '/root/.local/share/jupyter/runtime/kernel-7aea15f5-079a-4b3e-857b-798d4acfa11c.json']

### GitHub Integration


*   **Load Public Notebooks from Github**

*Original URL*:  https://github.com/paiml/python_for_datascience/blob/master/Lesson2_Python_For_Data_Science_Introduction_to_Colab.ipynb

*Colab Load UR*L: 
https://colab.research.google.com/github.com/paiml/python_for_datascience/blob/master/Lesson2_Python_For_Data_Science_Introduction_to_Colab.ipynb


*   **Browsing Github Repos**

*All of Github*:

http://colab.research.google.com/github

*An organization or user*

http://colab.research.google.com/github/paiml/

* Open in Colab Badge

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/paiml/python_for_datascience/blob/master/Lesson2_Python_For_Data_Science_Introduction_to_Colab.ipynb)

* **Saving to Github**

 - Github repo
 - Gist

## 1.2 Managing Colab Documents

### Mount GDrive Workflow

In [28]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [32]:
import os;os.listdir("/content/gdrive/My Drive")

['CCNP_ROUTE_642-902_Official_Certification_Guide.pdf',
 'CCNP.rar',
 'Billing Application.zip',
 'MP-Unified LAN-WAN-WLAN-IPT Doc (2).pdf',
 'Expl_Rtr_chapter_06_VLSM_CIDR.zip',
 'ch7_8_9_10_11 (2).zip',
 'Switching.rar',
 'FreightOS Network Infrastructure Diagram.pdf',
 'all essays.docx',
 'REPEATED ESSAYS IN PTE.pdf',
 'Re-order paragraphs.docx',
 'summary nav (1).docx',
 'writing assignment .docx',
 'Google Photos',
 'PTE_Academic_Practice_Tests_Plus',
 'Offline practice  Tests with solutions',
 'Mc millan',
 'PTE_ACADEMIC.zip',
 '4433.xps',
 'CCE.gsheet',
 'masterkreatif.com-4setb3l.rar',
 'Invoice AMVL118.pdf',
 'Tenders 2017.gsheet',
 'WhatsApp Chat with Rula 😴.txt',
 'Ansible.gdoc',
 'Resume-Samir diab.pdf',
 'Copy of battle_brothers_game-2018-Nov-30-0102.rar',
 '__scraped.txt',
 'Tenders 2019.gsheet',
 'ORS_R18131914.html',
 'Fruit salad 40.gsheet',
 'Copy of Factorio.v0.17.32.rar',
 'gpu.gdoc',
 'Colab Notebooks']

#### Load AWS API Keys (Colab Notebook)

Put keys in local or remote GDrive:  

`cp ~/.aws/credentials /Users/myname/Google\ Drive/awsml/`

#### Install Boto

In [0]:
!pip -q install boto3

#### Create API Config

In [0]:
!mkdir -p ~/.aws &&\
  cp /content/gdrive/My\ Drive/awsml/credentials ~/.aws/credentials

#### Test Comprehend API Call

In [0]:
import boto3
comprehend = boto3.client(service_name='comprehend', region_name="us-east-1")
text = "There is smoke in San Francisco and it makes me angry"
comprehend.detect_sentiment(Text=text, LanguageCode='en')

{'ResponseMetadata': {'HTTPHeaders': {'connection': 'keep-alive',
   'content-length': '164',
   'content-type': 'application/x-amz-json-1.1',
   'date': 'Wed, 20 Feb 2019 01:06:20 GMT',
   'x-amzn-requestid': 'bbb0aadb-34ab-11e9-a354-03fa70a71749'},
  'HTTPStatusCode': 200,
  'RequestId': 'bbb0aadb-34ab-11e9-a354-03fa70a71749',
  'RetryAttempts': 0},
 'Sentiment': 'NEGATIVE',
 'SentimentScore': {'Mixed': 0.010819978080689907,
  'Negative': 0.9212133288383484,
  'Neutral': 0.06721948087215424,
  'Positive': 0.0007472822326235473}}

## 1.3 Using magic functions

### %timeit

In [0]:
import numpy as np

In [0]:
too_many_decimals = 1.912345897

print("built in Python Round")
%timeit round(too_many_decimals, 2)

print("numpy round")
%timeit np.round(too_many_decimals, 2)

built in Python Round
The slowest run took 13.28 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 507 ns per loop
numpy round
The slowest run took 9.87 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 8.09 µs per loop

### %alias

In [0]:
alias lscsv ls -l sample_data/*.csv

In [0]:
lscsv

-rw-r--r-- 1 root root   301141 Feb  6 17:31 sample_data/california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Feb  6 17:31 sample_data/california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Feb  6 17:31 sample_data/mnist_test.csv
-rw-r--r-- 1 root root 36523880 Feb  6 17:31 sample_data/mnist_train_small.csv

[Reference These]
https://ipython.readthedocs.io/en/stable/interactive/magics.html

### %who

Print variables

In [0]:
who_ls

['Use_Python',
 'alt',
 'boto3',
 'cars',
 'comprehend',
 'data',
 'data_test',
 'data_train',
 'df',
 'drive',
 'files',
 'n_features_test',
 'n_features_train',
 'n_samples_test',
 'n_samples_train',
 'np',
 'os',
 'pd',
 'plt',
 'show_img',
 'sys',
 'test_path',
 'text',
 'too_many_decimals',
 'train_path',
 'uploaded',
 'x_test',
 'x_train',
 'y_train']

In [0]:
cars

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01
5,10.0,8,429.0,198.0,15.0,ford galaxie 500,USA,4341,1970-01-01
6,9.0,8,454.0,220.0,14.0,chevrolet impala,USA,4354,1970-01-01
7,8.5,8,440.0,215.0,14.0,plymouth fury iii,USA,4312,1970-01-01
8,10.0,8,455.0,225.0,14.0,pontiac catalina,USA,4425,1970-01-01
9,8.5,8,390.0,190.0,15.0,amc ambassador dpl,USA,3850,1970-01-01
10,17.5,4,133.0,115.0,NaN,citroen ds-21 pallas,Europe,3090,1970-01-01
11,11.5,8,350.0,165.0,NaN,chevrolet chevelle concours (sw),USA,4142,1970-01-01
12,11.0,8,351.0,153.0,NaN,ford torino (sw),USA,4034,1970-01-01
13,10.5,8,383.0,175.0,NaN,plymouth satellite (sw),USA,4166,1970-01-01
14,11.0,8,360.0,175.0,NaN,amc rebel sst (sw),USA,3850,1970-01-01
15,10.0,8,383.0,170.0,15.0,dodge challenger se,USA,3563,1970-01-01
16,8.0,8,340.0,160.0,14.0,plymouth 'cuda 340,USA,3609,1970-01-01
17,8.0,8,302.0,140.0,NaN,ford mustang boss 302,USA,3353,1970-01-01
18,9.5,8,400.0,150.0,15.0,chevrolet monte carlo,USA,3761,1970-01-01
19,10.0,8,455.0,225.0,14.0,buick estate wagon (sw),USA,3086,1970-01-01
20,15.0,4,113.0,95.0,24.0,toyota corona mark ii,Japan,2372,1970-01-01
21,15.5,6,198.0,95.0,22.0,plymouth duster,USA,2833,1970-01-01
22,15.5,6,199.0,97.0,18.0,amc hornet,USA,2774,1970-01-01
23,16.0,6,200.0,85.0,21.0,ford maverick,USA,2587,1970-01-01
24,14.5,4,97.0,88.0,27.0,datsun pl510,Japan,2130,1970-01-01
25,20.5,4,97.0,46.0,26.0,volkswagen 1131 deluxe sedan,Europe,1835,1970-01-01
26,17.5,4,110.0,87.0,25.0,peugeot 504,Europe,2672,1970-01-01
27,14.5,4,107.0,90.0,24.0,audi 100 ls,Europe,2430,1970-01-01
28,17.5,4,104.0,95.0,25.0,saab 99e,Europe,2375,1970-01-01
29,12.5,4,121.0,113.0,26.0,bmw 2002,Europe,2234,1970-01-01
...,...,...,...,...,...,...,...,...,...
376,18.6,4,112.0,88.0,27.0,chevrolet cavalier wagon,USA,2640,1982-01-01
377,18.0,4,112.0,88.0,34.0,chevrolet cavalier 2-door,USA,2395,1982-01-01
378,16.2,4,112.0,85.0,31.0,pontiac j2000 se hatchback,USA,2575,1982-01-01
379,16.0,4,135.0,84.0,29.0,dodge aries se,USA,2525,1982-01-01
380,18.0,4,151.0,90.0,27.0,pontiac phoenix,USA,2735,1982-01-01
381,16.4,4,140.0,92.0,24.0,ford fairmont futura,USA,2865,1982-01-01
382,20.5,4,151.0,NaN,23.0,amc concord dl,USA,3035,1982-01-01
383,15.3,4,105.0,74.0,36.0,volkswagen rabbit l,Europe,1980,1982-01-01
384,18.2,4,91.0,68.0,37.0,mazda glc custom l,Japan,2025,1982-01-01
385,17.6,4,91.0,68.0,31.0,mazda glc custom,Japan,1970,1982-01-01
386,14.7,4,105.0,63.0,38.0,plymouth horizon miser,USA,2125,1982-01-01
387,17.3,4,98.0,70.0,36.0,mercury lynx l,USA,2125,1982-01-01
388,14.5,4,120.0,88.0,36.0,nissan stanza xe,Japan,2160,1982-01-01
389,14.5,4,107.0,75.0,36.0,honda Accelerationord,Japan,2205,1982-01-01
390,16.9,4,108.0,70.0,34.0,toyota corolla,Japan,2245,1982-01-01
391,15.0,4,91.0,67.0,38.0,honda civic,Japan,1965,1982-01-01
392,15.7,4,91.0,67.0,32.0,honda civic (auto),Japan,1965,1982-01-01
393,16.2,4,91.0,67.0,38.0,datsun 310 gx,Japan,1995,1982-01-01
394,16.4,6,181.0,110.0,25.0,buick century limited,USA,2945,1982-01-01
395,17.0,6,262.0,85.0,38.0,oldsmobile cutlass ciera (diesel),USA,3015,1982-01-01
396,14.5,4,156.0,92.0,26.0,chrysler lebaron medallion,USA,2585,1982-01-01
397,14.7,6,232.0,112.0,22.0,ford granada l,USA,2835,1982-01-01
398,13.9,4,144.0,96.0,32.0,toyota celica gt,Japan,2665,1982-01-01
399,13.0,4,135.0,84.0,36.0,dodge charger 2.2,USA,2370,1982-01-01
400,17.3,4,151.0,90.0,27.0,chevrolet camaro,USA,2950,1982-01-01
401,15.6,4,140.0,86.0,27.0,ford mustang gl,USA,2790,1982-01-01
402,24.6,4,97.0,52.0,44.0,vw pickup,Europe,2130,1982-01-01
403,11.6,4,135.0,84.0,32.0,dodge rampage,USA,2295,1982-01-01
404,18.6,4,120.0,79.0,28.0,ford ranger,USA,2625,1982-01-01
405,19.4,4,119.0,82.0,31.0,chevy s-10,USA,2720,1982-01-01

### %writefile

In [0]:
%%writefile magic_stuff.txt
import pandas as pd
df = pd.read_csv(
    "https://raw.githubusercontent.com/noahgift/food/master/data/features.en.openfoodfacts.org.products.csv")
df.drop(["Unnamed: 0", "exceeded", "g_sum", "energy_100g"], axis=1, inplace=True) #drop two rows we don't need
df = df.drop(df.index[[1,11877]]) #drop outlier
df.rename(index=str, columns={"reconstructed_energy": "energy_100g"}, inplace=True)
df.head()

Writing magic_stuff.txt

In [0]:
cat magic_stuff.txt

import pandas as pd
df = pd.read_csv(
    "https://raw.githubusercontent.com/noahgift/food/master/data/features.en.openfoodfacts.org.products.csv")
df.drop(["Unnamed: 0", "exceeded", "g_sum", "energy_100g"], axis=1, inplace=True) #drop two rows we don't need
df = df.drop(df.index[[1,11877]]) #drop outlier
df.rename(index=str, columns={"reconstructed_energy": "energy_100g"}, inplace=True)
df.head()

### Bash

In [0]:
%%bash
uname -a

Linux c14846d13496 4.14.79+ #1 SMP Wed Dec 19 21:19:13 PST 2018 x86_64 x86_64 x86_64 GNU/Linux

### Python2

In [0]:
%%python2
print "old school"

old school

In [0]:
print "old school"

SyntaxError: ignored

### HTML

In [0]:
%%html
<h1>Only The Best Tags</h>